#dark-mode-toggle {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
}

html[data-theme="dark"] {
  body {
    background-color: $body-dark-background-color;
    color: $dark-text-color;
  }

  #alchemy_elements_window {
    background-color: $elements-window-dark-background;
  }

  #header,
  #user_info {
    background-color: $dark-header-background;
  }

  #toolbar,
  #overlay_toolbar,
  .toolbar_buttons.right,
  #header .page_status_and_name,
  .pagination {
    background-color: $toolbar-dark-bg-color;
  }

  #header .page_status_and_name {
    border-bottom-color: $toolbar-dark-bg-color;
  }

  .alchemy-dialog {
    background-color: $dialog-dark-background-color;
  }

  .icon {
    color: $dark-icon-color;
  }

  .select2-container.select2-container-multi .select2-choices,
  textarea,
  input[type="url"],
  input[type="number"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="search"],
  .thin_border,
  .input_field {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0 1px #000;
    color: inherit;
  }

  button,
  input[type="submit"],
  a.button,
  input.button,
  .select2-container.alchemy_selectbox .select2-choice {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }

  form .input .hint {
    background-color: #4f4f3e;
    border-color: transparent;
  }

  tr.even td {
    background-color: transparent;
  }

  tr.odd td {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
