form {
  #main_content > &.alchemy {
    max-width: 600px;
    padding: 2 * $default-padding;
    margin: 2em auto;
  }

  &.button-with-confirm {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  &.edit_page textarea {
    height: 67px;
  }

  .control-label {
    @include form-label;
  }

  .input {
    padding: 0.5rem 0;

    > .select2-container {
      width: 100%;
    }

    > .autocomplete_tag_list {
      .select2-container,
      .select2-choices {
        width: 100%;
      }
    }

    ::-webkit-input-placeholder {
      line-height: 16px;
    }

    .select2-container {
      margin: 4px 0;
    }

    &.boolean {
      label {
        display: inline;
        margin-left: 4px;
        font-weight: normal;
      }
    }

    label.checkbox {
      display: block;
      margin: $default-margin 0;

      input {
        margin-right: $default-margin;
        margin-left: 1px;
      }
    }

    &.field_with_errors {
      input[type="text"],
      input[type="email"],
      input[type="password"],
      textarea,
      .select2-choices {
        @extend %field-with-error;
      }

      .select2-choice,
      .select2-choices {
        border-color: $error_border_color;
        color: $error_text_color;
        margin-bottom: 4px;

        input[type="text"] {
          box-shadow: none;
        }
      }

      label {
        color: $error_text_color;
      }
    }

    small.error {
      color: $error_text_color;
      display: block;
      line-height: 1.5em;
      clear: both;
      text-align: right;
      margin-bottom: 0.25em;
    }

    &.language_locale small.error {
      @include form-hint(
        $background-color: $error_background_color,
        $border-color: $error_border_color
      );
      text-align: left;
    }
  }

  .input > .with-hint,
  .checkbox > .with-hint {
    cursor: default;

    input,
    textarea {
      cursor: not-allowed;
    }
  }

  .inline-input {
    display: flex;

    .left-column {
      flex-grow: 1;
      padding-right: 2 * $default-padding;
    }

    button,
    .button,
    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="submit"],
    input[type="password"] {
      width: 100%;
    }
  }

  .check_boxes .control_group {
    padding: 0.5em 0;
  }

  .input .hint {
    @include form-hint;
  }

  .submit {
    padding: $default-padding 0;
    text-align: right;
  }

  .input-column {
    padding: 0 $default-padding;
    width: 50%;
  }

  .input-row {
    display: flex;

    .input-column {
      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

textarea#essence_picture_caption {
  height: 61px;
}

// styles for link overlay selects
.window_form {
  td.checkbox {
    text-align: left;
  }

  .select2-container {
    width: 100%;
  }
}

.input-column > label {
  display: block;
  margin-top: $default-margin + 1;
}
