<span class="linkable_essence_tools">
  <a class="icon_button link-essence{{#if link}} linked{{/if}}" title="{{t 'place_link'}}">
    <span class="icon link"></span>
  </a>
  <a class="icon_button unlink-essence {{#if link}}linked{{else}}disabled{{/if}}" title="{{t 'unlink'}}">
    <span class="icon unlink"></span>
  </a>
</span>
