<div id="sitemap-wrapper"></div>

<script>
  var sitemap = document.getElementById('sitemap-wrapper');
  var url = '<%= alchemy.tree_admin_pages_path %>';
  var spinner = new Alchemy.Spinner('medium');

  spinner.spin(sitemap);
  $.getJSON(url, { id: <%= @page_root.id %> }, (data) => {
    var pages = data.pages;
    new Vue({
      el: '#sitemap-wrapper',
      render(h) {
        return h(
          'ul', { attrs: { class: 'list', id: 'sitemap' } }, pages.map((page) => {
            return h('alchemy-page-node', {
              props: { page, key: page.id }
            });
          })
        );
      }
    });
  });
</script>
