<div id="sitemap-wrapper"></div>

<script>
  var sitemap = document.getElementById('sitemap-wrapper');
  var url = '<%= alchemy.tree_admin_pages_path %>';
  var spinner = new Alchemy.Spinner('medium');

  spinner.spin(sitemap);
  $.getJSON(url, { id: <%= @page_root.id %> }, (pages) => {
    const root = pages.shift();
    Object.assign(root, { children: pages });
    new Vue({
      el: '#sitemap-wrapper',
      render(h) {
        return h(
          'ul', { attrs: { class: 'list', id: 'sitemap' } }, [
            h('alchemy-page-node', { props: { page: root } })
          ]
        );
      }
    });
  });
</script>
