<div id="flash_notices" style="display: <%= flash.keys.blank? ? "none" : "block" %>">
<% flash.keys.each do |flash_type| %>
  <% next unless flash[flash_type].present? %>
  <%= render 'alchemy/admin/partials/flash', message: flash[flash_type], flash_type: flash_type %>
<% end %>
</div>
