<div id="overlay_toolbar">
  <div class="button_with_label">
    <a class="icon_button js-new-element-button" data-alchemy-hotkey="alt+n">
      <span class="icon new_element"></span>
    </a><br>
    <label>{{ t 'New Element' }}</label>
  </div>
  <div class="button_with_label" id="clipboard_button">
    <a class="icon_button">
      <span class="icon clipboard"></span>
    </a><br>
    <label>{{ t 'Show clipboard' }}</label>
  </div>
  <div class="button_with_label" id="element_trash_button">
    <a class="icon_button">
      <span class="icon trash"></span>
    </a><br>
    <label>{{ t 'Show trash' }}</label>
  </div>
</div>
<div id="element_area"></div>
